body {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    margin-top: 70px;
}

h2 {
    font-size: 72px;
    color: black;
    text-shadow: 5px 7px 1px white;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 1000;
    margin-bottom: 150px;
    margin-top: 50px;
}

.accordion-section .panel-default>.panel-heading {
    top: 100%;
    background: #f4f4f4;
    padding: 0;
}

.accordion-section .panel-default .panel-title a {
    top: 100%;
    display: block;
    font-style: italic;
    font-size: 1.5rem;
}

.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 3rem;
    content: "\f106";
    color: #f9f9f9;
    float: right;
    margin-top: -12px;
}

.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}

.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
}