.form {
    float: right;
    background: #f9f9f9;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    margin-right: 20px;
    /*what ever you want*/
}