@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  background-color: lightblue;
  display: flex;
  flex-flow: column;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
  .active-pink .fa, .active-pink-2 .fa {
    color: #f48fb1;
  }
}

.navbar {
  background-color: rgb(105, 85, 194);
  font-family: Verdana !important;
}

.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.active-pink-4 input[type=text]:focus:not([readonly]) {
  border: 1px solid #f48fb1;
  box-shadow: 0 0 0 1px #f48fb1;
}

.search-wrapper {
  left: 30%;
  max-width: 50%;
  margin-top: 250px;
  position: relative;
}

.search-wrapper h2 {
  text-align: center;
}

.page-footer {
  background-color: rgb(105, 85, 194);
  font-family: Verdana !important;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 25%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.wrapper {
  padding: 30px 50px;
  border: 1px solid #ddd;
  border-radius: 15px;
  left: 35%;
  max-width: 600px;
  margin-top: 250px;
  position: relative;
  background-color: white;
}

h4 {
  letter-spacing: -1px;
  font-weight: 400
}

.img {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  object-fit: cover
}

#img-section p, #deactivate p {
  font-size: 12px;
  color: #777;
  margin-bottom: 10px;
  text-align: justify
}

#img-section b, #img-section button, #deactivate b {
  font-size: 14px
}

label {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  color: #777;
  padding-left: 3px
}

.form-control {
  border-radius: 10px
}

input[placeholder] {
  font-weight: 500
}

.form-control:focus {
  box-shadow: none;
  border: 1.5px solid #0779e4
}

select {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 40px;
  padding: 5px 10px
}

select:focus {
  outline: none
}

.button {
  background-color: #fff;
  color: #0779e4
}

.button:hover {
  background-color: #0779e4;
  color: #fff
}

.btn-primary {
  background-color: #0779e4
}

.danger {
  background-color: #fff;
  color: #e20404;
  border: 1px solid #ddd
}

.danger:hover {
  background-color: #e20404;
  color: #fff
}

@media(max-width:576px) {
  .wrapper {
    padding: 25px 20px
  }
  #deactivate {
    line-height: 18px
  }
}

.error {
  color: #F00;
  background-color: #FFF;
}